<?xml version="1.0"?>

<model>
  <name>Jumping Spider Controls</name>
  <version>2.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Sam Kemp</name>
  </author>

  <description>
    Starting with jumping_spider
    add LiftDragPlugin
    add ArduCopterPlugin
    add gimbal_small_2d
  </description>
  <depend>
    <model>
      <uri>model://gimbal_lidar_2d</uri>
      <version>2.0</version>
    </model>
    <model>
      <uri>model://jumping_spider</uri>
      <version>2.0</version>
    </model>
  </depend>
</model>
