<?xml version="1.0"?>
<model>
  <name>BladeRoot</name>
  <version>2.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Arjun Krishnan</name>
    <email>krishnan.arjun29@gmail.com</email>
  </author>

  <description>
    Root section of wind turbine blade
  </description>
</model>